---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import { getComics } from "../services/marvel";
const comics = await getComics();
---

<Layout
  title="Listado de Comics"
  description="Web ejemplo de desarrollo con temática del universo de Marvel"
>
  <div
    class="flex flex-wrap justify-center mt-4 bg-slate-300 dark:bg-gray-700 gap-x-2 gap-y-2 p-3"
  >
    {
      comics.map(
        (comic: {
          title: any;
          thumbnail: { path: any; extension: any };
          urls: any;
        }) => (
          <div class="flex justify-center hover:scale-105 transitio-all duration-500">
            <div class="rounded-lg shadow-lg bg-white dark:bg-gray-600">
              <Image
                class="rounded-t-lg w-72 h-96"
                src={comic.thumbnail.path + "." + comic.thumbnail.extension}
                alt={comic.title}
                title={comic.title}
                width="72"
                height="96"
              />
              <div class="p-2 w-72">
                <a target="_blank" href={comic.urls[0].url}>
                  <span class="text-gray-900 dark:text-gray-300 text-base font-medium mb-2">
                    {comic.title}
                  </span>
                </a>
              </div>
            </div>
          </div>
        )
      )
    }
  </div>
</Layout>
