---
import Layout from '../layouts/Layout.astro';

---

<Layout title="Marvel Project" description="Web ejemplo de desarrollo con temática del universo de Marvel">
	<main>

	
	</main>
</Layout>

<style>

</style>
